* {
    padding: 0;
    margin: 0;
}

$pink: #E14A5B;
$dark-gray: #9D9D9D;
$mid-gray: #B9B9B9;
body {
    background-color: white;
}

nav {
    a {
        cursor: pointer;
    }
    padding: 10px 10px 10px 2vw;
    #active-line {
        bottom: 0;
        width: 100%;
        height: 2px;
        background: #E14A5B;
    }
    .logo-container,
    .logo-container:hover {
        position: relative;
        place-self: start;
        text-decoration: none;
        .logo {
            color: $pink;
            font-weight: bold;
        }
    }
    .logo-container::before {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        top: 0;
        left: 0;
        border: solid $pink;
        border-width: 3px 0 0 3px;
    }
    .logo-container::after {
        content: "";
        width: 50%;
        height: 50%;
        position: absolute;
        bottom: 0;
        right: 0;
        border: solid $pink;
        border-width: 0 3px 3px 0;
    }
    .navbar-items {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        a {
            color: black;
            font-weight: bolder;
            border-bottom: 2px solid transparent;
            transition: ease-in-out 100ms;
        }
        a:hover {
            text-decoration: none;
            color: $pink;
        }
    }
    button {
        color: white !important;
        background-color: black !important;
        border-radius: 30px !important;
        box-shadow: 5px 8px 14px 2px rgba(0, 0, 0, 0.25) !important;
    }
}

.home {
    main {
        img {
            height: 44vw;
        }
        .main-text {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            h1 {
                font-weight: bolder;
                font-size: 3.5vw;
                place-self: end center;
                color: black;
            }
            p {
                font-size: 1vw;
                color: $dark-gray;
                font-family: 'Rhodium Libre', serif;
                place-self: center;
            }
            form {
                place-self: center start;
                padding-left: 15%;
                label {
                    display: block;
                    color: $pink;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                input::placeholder,
                input:focus {
                    font-family: 'Rhodium Libre', serif;
                    color: $pink;
                    outline: none;
                }
                input {
                    border-radius: 20px;
                    border: 2px solid $mid-gray;
                    padding: 3px 10px 0px;
                    font-family: 'Rhodium Libre', serif;
                    color: $pink;
                    margin-right: 30px;
                    &[name="rooms"] {
                        width: 100px;
                    }
                }
                button {
                    font-family: 'Rhodium Libre', serif;
                    background-color: $pink !important;
                    border-radius: 20px;
                    color: white;
                    padding: 8px 50px;
                }
            }
        }
    }
}

.what_is_this {
    display: none;
    main {
        img {
            height: 44vw;
        }
        .main-text {
            padding-left: 9vw;
            padding-right: 70px;
            h1 {
                font-weight: bolder;
                font-size: 3.5vw;
                color: black;
                padding-bottom: 30px;
            }
            p {
                text-align: justify;
                font-size: 1vw;
                color: $dark-gray;
                font-family: 'Rhodium Libre', serif;
            }
        }
    }
}

.category {
    display: none;
    form {
        .search-container {
            border: 3px solid $mid-gray;
            border-radius: 50px;
            width: 60%;
            #tags-container {
                .tag {
                    background: #E0E0E0;
                    color: $pink;
                    border-radius: 50px;
                    span {
                        max-width: 100px;
                    }
                }
            }
            input,
            input:hover {
                border: none;
                outline: none;
                background: none;
                flex-grow: 1;
            }
            button {
                flex-grow: 0;
                transform: scale(1.2);
                place-self: center;
            }
            span {
                display: flex;
                flex-grow: 1;
                padding: 0;
            }
        }
    }
    .images-container {
        height: 80vh;
        div {
            background-size: cover;
            background-position: center;
            height: 18vw;
        }
        .house1 {
            background-image: url(../media/house1.jpg);
        }
        .house2 {
            background-image: url(../media/house2.jpg);
        }
        .house3 {
            background-image: url(../media/house3.jpg);
        }
        .house4 {
            background-image: url(../media/house4.jpg);
        }
        .house5 {
            background-image: url(../media/house5.jpg);
        }
        .house6 {
            background-image: url(../media/house6.jpg);
        }
    }
}

.about_us {
    display: none;
    .contributors {
        .card {
            box-shadow: none;
            .image {
                width: 105px;
                height: 105px;
                background-size: cover;
            }
            .cont1 {
                background-image: url('../media/cont-1.jpg');
                background-position: center top;
            }
            .cont2 {
                background-image: url('../media/cont-2.jpg');
                background-position: center top;
            }
            .cont3 {
                background-image: url('../media/cont-3.jpg');
                background-position: center bottom;
            }
            .cont4 {
                background-image: url('../media/cont-4.jpg');
                background-position: center top;
            }
            .name {
                font-family: Rhodium Libre;
                font-size: 18px;
            }
            .details {
                font-family: Rhodium Libre;
                font-size: 18px;
                line-height: 31px;
                color: #9D9D9D;
            }
        }
    }
}

@media (max-width: 1200px) {
    .home {
        main {
            .main-text {
                display: grid;
                grid-template-rows: repeat(3, 1fr);
                h1 {
                    font-weight: bolder;
                    font-size: 7vw;
                    place-self: end center;
                    color: black;
                }
                p {
                    font-size: 2vw;
                    color: $dark-gray;
                    font-family: 'Rhodium Libre', serif;
                    place-self: center;
                }
            }
        }
    }
}