* {
    padding: 0;
    margin: 0;
}

$pink: #E14A5B;
$dark-gray: #9D9D9D;
$mid-gray: #B9B9B9;
body {
    background-color: white;
}

nav {
    padding: 10px 10px 10px 2vw;
    display: grid;
    place-items: center;
    grid-template-rows: 50px;
    grid-template-columns: 1fr 700px 1fr;
    .logo-container,
    .logo-container:hover {
        place-self: start;
        text-decoration: none;
        .logo {
            color: $pink;
            font-weight: bold;
            border: 3px solid $pink;
        }
    }
    .navbar-items {
        display: grid;
        place-items: center;
        grid-template-columns: repeat(4, 1fr);
        a {
            color: black;
            font-weight: bolder;
            border-bottom: 2px solid transparent;
            transition: ease-in-out 100ms;
        }
        a:hover {
            text-decoration: none;
            border-bottom: 2px solid $pink;
        }
    }
    button {
        color: white !important;
        background-color: black !important;
        border-radius: 30px !important;
        box-shadow: 5px 8px 14px 2px rgba(0, 0, 0, 0.25) !important;
    }
}

.home {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: "text image" "text image" "text image";
        img {
            grid-area: image;
            height: 44vw;
        }
        .main-text {
            grid-area: text;
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            h1 {
                font-weight: bolder;
                font-size: 3.5vw;
                place-self: end center;
                color: black;
            }
            p {
                font-size: 1vw;
                color: $dark-gray;
                font-family: 'Rhodium Libre', serif;
                place-self: center;
            }
            form {
                place-self: center start;
                padding-left: 15%;
                label {
                    display: block;
                    color: $pink;
                    font-weight: bold;
                    margin-bottom: 30px;
                }
                input::placeholder,
                input:focus {
                    font-family: 'Rhodium Libre', serif;
                    color: $pink;
                    outline: none;
                }
                input {
                    border-radius: 20px;
                    border: 2px solid $mid-gray;
                    padding: 3px 10px 0px;
                    font-family: 'Rhodium Libre', serif;
                    color: $pink;
                    margin-right: 30px;
                    &[name="rooms"] {
                        width: 100px;
                    }
                }
                button {
                    font-family: 'Rhodium Libre', serif;
                    background-color: $pink !important;
                    border-radius: 20px;
                    color: white;
                    padding: 8px 50px;
                }
            }
        }
    }
}

.what_is_this {
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: "text image";
        img {
            grid-area: image;
            height: 44vw;
        }
        .main-text {
            grid-area: text;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding-left: 9vw;
            padding-right: 70px;
            h1 {
                font-weight: bolder;
                font-size: 3.5vw;
                color: black;
                padding-bottom: 30px;
            }
            p {
                text-align: justify;
                font-size: 1vw;
                color: $dark-gray;
                font-family: 'Rhodium Libre', serif;
            }
        }
    }
}

.category {
    form {
        .search-container {
            border: 3px solid $mid-gray;
            border-radius: 50px;
            width: 60%;
            #tags-container {
                .tag {
                    background: #E0E0E0;
                    color: $pink;
                    border-radius: 50px;
                    span {
                        max-width: 100px;
                    }
                }
            }
            input,
            input:hover {
                border: none;
                outline: none;
                background: none;
                flex-grow: 1;
            }
            button {
                flex-grow: 0;
                transform: scale(1.2);
                place-self: center;
            }
            span {
                display: flex;
                flex-grow: 1;
                padding: 0;
            }
        }
    }
    .images-container {
        height: 80vh;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: min($numbers: 300px);
        grid-gap: 10px;
        div {
            background-size: cover;
        }
        .house1 {
            background-image: url(../media/house1.jpg);
        }
        .house2 {
            background-image: url(../media/house2.jpg);
        }
        .house3 {
            background-image: url(../media/house3.jpg);
        }
        .house4 {
            background-image: url(../media/house4.jpg);
        }
        .house5 {
            background-image: url(../media/house5.jpg);
        }
        .house6 {
            background-image: url(../media/house6.jpg);
        }
    }
}